{% extends 'baseBlog.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4"><i class="fa fa-comments"></i> Comments</h1>

        {% for comment in comments %}
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa fa-user"></i> Comment #{{ comment.id }}</h5>
                    <p class="card-text"><i class="fa fa-comment"></i> {{ comment.content }}</p>
                    <p class="text-muted"><i class="fa fa-calendar"></i> {{ comment.createDate ? comment.createDate|date('Y-m-d H:i:s') : 'N/A' }}</p>
                    
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('app_comment_show', {'id': comment.id}) }}" class="btn btn-primary btn-sm me-2">
                            <i class="fa fa-eye"></i> Show
                        </a>
                        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-primary btn-sm me-2">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info text-center">
                <i class="fa fa-info-circle"></i> No comments found.
            </div>
        {% endfor %}

        <div class="text-center mt-4">
            <a href="{{ path('app_comment_new') }}" class="btn btn-success">
                <i class="fa fa-plus"></i> Create New Comment
            </a>
        </div>
    </div>
{% endblock %}
